In [330]:
import requests
import time, os
import random
from fake_useragent import UserAgent
from bs4 import BeautifulSoup
from IPython.core.display import display, HTML
from collections import defaultdict
import csv

In [329]:
'''
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver
'''

'\nfrom selenium import webdriver\nfrom selenium.webdriver.common.keys import Keys\nfrom selenium.webdriver.common.action_chains import ActionChains\n\nchromedriver = "/Applications/chromedriver" # path to the chromedriver executable\nos.environ["webdriver.chrome.driver"] = chromedriver\n'

In [101]:
base_url = 'https://www.pro-football-reference.com/'

#scrape Jared Goff first
player = 'players/G/GoffJa00.htm'

In [7]:
# Trying to look human
ua = UserAgent()
user_agent = {'User-agent' : ua.random}

In [115]:
response = requests.get(base_url + player, headers = user_agent)
soup = BeautifulSoup(response.text, 'lxml')

In [318]:
big_table = soup.find_all('table', {'id':'passing'})

In [323]:
test = get_headers(big_table)

In [282]:
stat_table[2]

<tr class="full_table" id="passing.2017"><th class="left" data-stat="year_id" scope="row"><a href="/years/2017/">2017</a>*</th><td class="right" data-stat="age">23</td><td class="left" data-stat="team"><a href="/teams/ram/2017.htm" title="Los Angeles Rams">LAR</a></td><td class="left" data-stat="pos">QB</td><td class="right" data-stat="uniform_number">16</td><td class="right" data-stat="g">15</td><td class="right" data-stat="gs">15</td><td class="right" csk="0.73333" data-stat="qb_rec">11-4-0</td><td class="right" data-stat="pass_cmp">296</td><td class="right" data-stat="pass_att">477</td><td class="right" data-stat="pass_cmp_perc">62.1</td><td class="right" data-stat="pass_yds">3804</td><td class="right" data-stat="pass_td">28</td><td class="right" data-stat="pass_td_perc">5.9</td><td class="right" data-stat="pass_int">7</td><td class="right" data-stat="pass_int_perc">1.5</td><td class="right" data-stat="pass_first_down">177</td><td class="right" data-stat="pass_long">94</td><td class="right" data-stat="pass_yds_per_att">8.0</td><td class="right" data-stat="pass_adj_yds_per_att">8.5</td><td class="right" data-stat="pass_yds_per_cmp"><strong>12.9</strong></td><td class="right" data-stat="pass_yds_per_g">253.6</td><td class="right" data-stat="pass_rating">100.5</td><td class="right" data-stat="qbr">52.1</td><td class="right" data-stat="pass_sacked">25</td><td class="right" data-stat="pass_sacked_yds">172</td><td class="right" data-stat="pass_net_yds_per_att">7.24</td><td class="right" data-stat="pass_adj_net_yds_per_att"><strong>7.72</strong></td><td class="right" data-stat="pass_sacked_perc">5.0</td><td class="right" data-stat="comebacks">1</td><td class="right" data-stat="gwd">1</td><td class="right" data-stat="av">15</td></tr>

In [296]:
stat_table[1].find('a').text

'2016'

In [312]:

def get_stats(table):
    stats = defaultdict(list)
    for ele in stat_table:
        if not ele.find('a'):
            continue
        year = ele.find('a').text
        temp_stat = ele.find_all('td')
        for num in temp_stat:
            stats[year].append(num.text)
    return stats

In [313]:
stats = get_stats(stat_table)

In [316]:
def get_headers(table):
    '''
    Grab stat headers from player's BS table
    arg:
        BS object containing players info (from scrape_page)
    return:
        stat labels in a list
    '''
    stat_header = []

    stat_table = table[0].find_all('tr')
    header_soup = stat_table[0].find_all('th')
    for header in header_soup:
        stat_header.append(header.text)
    return stat_header

In [325]:
headers = get_headers(big_table)

In [326]:
headers

['Year',
 'Age',
 'Tm',
 'Pos',
 'No.',
 'G',
 'GS',
 'QBrec',
 'Cmp',
 'Att',
 'Cmp%',
 'Yds',
 'TD',
 'TD%',
 'Int',
 'Int%',
 '1D',
 'Lng',
 'Y/A',
 'AY/A',
 'Y/C',
 'Y/G',
 'Rate',
 'QBR',
 'Sk',
 'Yds',
 'NY/A',
 'ANY/A',
 'Sk%',
 '4QC',
 'GWD',
 'AV']

In [333]:
type(stats)

collections.defaultdict

In [336]:
csv_file = 'Goff_test.csv'

with open(csv_file, 'w') as csvfile:
    csvfile.write(','.join(headers)+'\n')
    for key, value in stats.items():
        csvfile.write(key+','+','.join(value)+'\n')

In [337]:
pd.read_csv('Goff_test.csv')

,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,Att,...,Rate,QBR,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD,AV
0,2016,22,LAR,qb,16,7,7,0-7-0,112,205,...,63.6,18.9,26,222,3.75,2.82,11.3,NaN,NaN,-2
1,2017,23,LAR,QB,16,15,15,11-4-0,296,477,...,100.5,52.1,25,172,7.24,7.72,5.0,1.0,1.0,15
2,2018,24,LAR,QB,16,16,16,13-3-0,364,561,...,101.1,63.1,33,223,7.52,7.69,5.6,4.0,4.0,18
3,2019,25,LAR,QB,16,16,16,9-7-0,394,626,...,86.5,NaN,22,170,6.90,6.46,3.4,1.0,2.0,12