In [42]:
import requests
import time, os
import random
from fake_useragent import UserAgent
from bs4 import BeautifulSoup
from IPython.core.display import display, HTML
from collections import defaultdict
import csv
import pandas as pd

In [43]:
base_url = 'https://www.pro-football-reference.com/players/'
path = '/Users/paulchung/Dropbox (Personal)/Paul Working Folder/Home/Coding/Metis/github_backup/Project-2-Regression/'

In [44]:
def add_players():
    qb_list_file = path+'/pfr_scraped/master_qb_list.csv'
    qb_list_file2 = path+'/pfr_scraped/added_qb_list.csv'
    qb_df = pd.read_csv(qb_list_file, index_col=0)
    qb_df2 = pd.read_csv(qb_list_file2, index_col=0)
    qb_df3 = qb_df2.merge(qb_df, how='left', indicator=True)
    qb_df3 = qb_df3[qb_df3['_merge'] == 'left_only']
    qb_df3.drop('_merge', axis=1, inplace=True)
    return qb_df3

In [45]:
test = add_players()
test

                    0
2        Jake Plummer
3          Dan Marino
4         Steve Young
5         Trent Green
6        Steve McNair
..                ...
119    Sage Rosenfels
120     Brodie Croyle
125     Tyler Thigpen
127  JaMarcus Russell
130    Seneca Wallace

[98 rows x 1 columns]

In [47]:
def get_player_htm(df):
    '''
    Use name to get name for player's html page identifier
    return:
        dict of {first_part_htm_names : player_name}
    '''
    htm_name_dict = {}
    
    
    df = df['0'].str.split(n=1, expand=True).copy()
    df[2] = df[0] + ' ' + df[1]
    df.rename({0:'First', 1:'Last', 2:'Full'}, axis=1, inplace=True)
    df['htm_name'] = df['Last'].str.slice(stop=4) + df['First'].str.slice(stop=2)
    htm_name_dict = dict(zip(df['htm_name'], df['Full']))
    return htm_name_dict

In [49]:
player_dict = get_player_htm(test)
player_dict

{'PlumJa': 'Jake Plummer',
 'MariDa': 'Dan Marino',
 'YounSt': 'Steve Young',
 'GreeTr': 'Trent Green',
 'McNaSt': 'Steve McNair',
 'BledDr': 'Drew Bledsoe',
 'StewKo': 'Kordell Stewart',
 'DilfTr': 'Trent Dilfer',
 'CunnRa': 'Randall Cunningham',
 'TestVi': 'Vinny Testaverde',
 'BankTo': 'Tony Banks',
 'ElwaJo': 'John Elway',
 'BrunMa': 'Mark Brunell',
 'FlutDo': 'Doug Flutie',
 'GannRi': 'Rich Gannon',
 'BeueSt': 'Steve Beuerlein',
 'ChanCh': 'Chris Chandler',
 'WhelCr': 'Craig Whelihan',
 'AikmTr': 'Troy Aikman',
 'BatcCh': 'Charlie Batch',
 'KaneDa': 'Danny Kanell',
 'HarbJi': 'Jim Harbaugh',
 'HollDo': 'Donald Hollas',
 'MoonWa': 'Warren Moon',
 'KramEr': 'Erik Kramer',
 'LeafRy': 'Ryan Leaf',
 'HoyiBo': 'Bobby Hoying',
 'GrahKe': 'Kent Graham',
 'StenSt': 'Steve Stenstrom',
 'GrbaEl': 'Elvis Grbac',
 'DetmKo': 'Koy Detmer',
 'ZeieEr': 'Eric Zeier',
 'GeorJe': 'Jeff George',
 'GarrJa': 'Jason Garrett',
 'JohnRo': 'Rob Johnson',
 'JohnBr': 'Brad Johnson',
 'WarnKu': 'Kurt Warner',
 'GrieBr': 'Brian Griese',
 'CoucTi': 'Tim Couch',
 'BlakJe': 'Jeff Blake',
 'GarcJe': 'Jeff Garcia',
 'FrerGu': 'Gus Frerotte',
 'MattSh': 'Shane Matthews',
 'LucaRa': 'Ray Lucas',
 'TomcMi': 'Mike Tomczak',
 'McNoCa': 'Cade McNown',
 'PedeDo': 'Doug Pederson',
 'HuarDa': 'Damon Huard',
 'MireRi': 'Rick Mirer',
 'MillJi': 'Jim Miller',
 'CaseSt': 'Stoney Case',
 'BrowDa': 'Dave Brown',
 'SmitAk': 'Akili Smith',
 'KingSh': 'Shaun King',
 'CulpDa': 'Daunte Culpepper',
 'FiedJa': 'Jay Fiedler',
 'BrooAa': 'Aaron Brooks',
 'MitcSc': 'Scott Mitchell',
 'WeinCh': 'Chris Weinke',
 'CartQu': 'Quincy Carter',
 'DetmTy': 'Ty Detmer',
 'CarrDa': 'David Carr',
 'HarrJo': 'Joey Harrington',
 'PennCh': 'Chad Pennington',
 'PeetRo': 'Rodney Peete',
 'MaddTo': 'Tommy Maddox',
 'HutcCh': 'Chad Hutchinson',
 'RamsPa': 'Patrick Ramsey',
 'BulgMa': 'Marc Bulger',
 'MartJa': 'Jamie Martin',
 'RedmCh': 'Chris Redman',
 'FeelA.': 'A.J. Feeley',
 'DelhJa': 'Jake Delhomme',
 'LeftBy': 'Byron Leftwich',
 'HolcKe': 'Kelly Holcomb',
 'JohnDo': 'Doug Johnson',
 'BollKy': 'Kyle Boller',
 'WrigAn': 'Anthony Wright',
 'HassTi': 'Tim Hasselbeck',
 'VoleBi': 'Billy Volek',
 'RattTi': 'Tim Rattay',
 'DorsKe': 'Ken Dorsey',
 'KrenCr': 'Craig Krenzel',
 'SimmCh': 'Chris Simms',
 'BollBr': 'Brooks Bollinger',
 'LosmJ.': 'J.P. Losman',
 'McMaMi': 'Mike McMahon',
 'FryeCh': 'Charlie Frye',
 'LeinMa': 'Matt Leinart',
 'GradBr': 'Bruce Gradkowski',
 'WaltAn': 'Andrew Walter',
 'LemoCl': 'Cleo Lemon',
 'EdwaTr': 'Trent Edwards',
 'RoseSa': 'Sage Rosenfels',
 'CroyBr': 'Brodie Croyle',
 'ThigTy': 'Tyler Thigpen',
 'RussJa': 'JaMarcus Russell',
 'WallSe': 'Seneca Wallace'}

In [50]:
def scrape_page(htm_dict):
    '''
    Scrape page and store in a list of soup files
    arg:
        list of qb's name as html identifier
    return:
        list of players pages in soup form
    '''
    ua = UserAgent()
    user_agent = {'User-agent' : ua.random}
    player_page_soups = []
    counter = 0
    
    for qb_htm, qb_name in htm_dict.items():
        for x in range(6):
            position_list = []
            name = qb_htm + '0' + str(x) + '.htm'
            add_url = qb_htm[0] + '/' + name
            response = requests.get(base_url + add_url, headers=user_agent)
            if response.status_code == 200:
                print(str(response.status_code) + ' ' + add_url)
                page_soup = BeautifulSoup(response.text, 'lxml')
                player_name = page_soup.find('h1', {'itemprop':'name'}).text
                position = page_soup.find_all('td',{'data-stat':'pos'})
                for pos in position:
                    position_list.append(pos.text.lower())
                if (player_name.strip() != qb_name.strip()) or ('qb' not in position_list):
                    time.sleep(random.random() + random.randint(1,4))
                    continue
                else:
                    break
            else:
                print('Something\'s wrong with:' + add_url)
                break
        player_page_soups.append(page_soup)
        time.sleep(random.random() + random.randint(1,4))        
    return player_page_soups

In [51]:
player_page_soups = scrape_page(player_dict)

200 P/PlumJa00.htm
200 M/MariDa00.htm
200 Y/YounSt00.htm
200 G/GreeTr00.htm
200 M/McNaSt00.htm
200 B/BledDr00.htm
200 S/StewKo00.htm
200 D/DilfTr00.htm
200 C/CunnRa00.htm
200 T/TestVi00.htm
200 B/BankTo00.htm
200 E/ElwaJo00.htm
200 B/BrunMa00.htm
200 F/FlutDo00.htm
200 G/GannRi00.htm
200 B/BeueSt00.htm
200 C/ChanCh00.htm
200 W/WhelCr00.htm
200 A/AikmTr00.htm
200 B/BatcCh00.htm
200 K/KaneDa00.htm
200 H/HarbJi00.htm
200 H/HollDo00.htm
200 M/MoonWa00.htm
200 K/KramEr00.htm
200 L/LeafRy00.htm
200 H/HoyiBo00.htm
200 G/GrahKe00.htm
200 S/StenSt00.htm
200 G/GrbaEl00.htm
200 D/DetmKo00.htm
200 Z/ZeieEr00.htm
200 G/GeorJe00.htm
200 G/GarrJa00.htm
200 J/JohnRo00.htm
200 J/JohnBr00.htm
200 W/WarnKu00.htm
200 G/GrieBr00.htm
200 C/CoucTi00.htm
200 B/BlakJe00.htm
200 G/GarcJe00.htm
200 F/FrerGu00.htm
200 M/MattSh00.htm
200 L/LucaRa00.htm
200 T/TomcMi00.htm
200 M/McNoCa00.htm
200 P/PedeDo00.htm
200 H/HuarDa00.htm
200 M/MireRi00.htm
200 M/MillJi00.htm
200 C/CaseSt00.htm
200 B/BrowDa00.htm
200 S/SmitAk00.htm
200 K/KingSh00.htm
200 C/CulpDa00.htm
200 F/FiedJa00.htm
200 B/BrooAa00.htm
200 M/MitcSc00.htm
200 W/WeinCh00.htm
200 C/CartQu00.htm
200 D/DetmTy00.htm
200 C/CarrDa00.htm
200 H/HarrJo00.htm
200 P/PennCh00.htm
200 P/PennCh01.htm
200 P/PeetRo00.htm
200 M/MaddTo00.htm
200 H/HutcCh00.htm
200 R/RamsPa00.htm
200 B/BulgMa00.htm
200 M/MartJa00.htm
200 R/RedmCh00.htm
200 F/FeelA.00.htm
200 D/DelhJa00.htm
200 L/LeftBy00.htm
200 H/HolcKe00.htm
200 J/JohnDo00.htm
200 B/BollKy00.htm
200 W/WrigAn00.htm
200 H/HassTi00.htm
200 V/VoleBi00.htm
200 R/RattTi00.htm
200 D/DorsKe00.htm
200 K/KrenCr00.htm
200 S/SimmCh00.htm
200 B/BollBr00.htm
200 L/LosmJ.00.htm
200 M/McMaMi00.htm
200 F/FryeCh00.htm
200 L/LeinMa00.htm
200 G/GradBr00.htm
200 W/WaltAn00.htm
200 L/LemoCl00.htm
200 E/EdwaTr00.htm
200 E/EdwaTr01.htm
200 R/RoseSa00.htm
200 C/CroyBr00.htm
200 T/ThigTy00.htm
200 R/RussJa00.htm
200 W/WallSe00.htm

In [52]:
def get_player_data(soup):
    '''
    Get player's name (string) and stat table in bs resultset object
    arg:
        BS object of player's web page
    return:
        list containing [player_name, bs4.resultset]
    '''
    player_data = []
    name = soup.find('h1', {'itemprop':'name'}).text.strip()
    big_table = soup.find_all('table', {'id':'passing'})
    return name, big_table

In [56]:
def get_stats(player_data):
    name = player_data[0]
    stat_table = player_data[1]
    annual_stat_dict = defaultdict(list)
    player_stat_list = []

    for ele in stat_table:
        stat_block = ele.find_all('tr', class_='full_table')
        for stats_rows in stat_block:
            year = int(stats_rows.find('a').text)
            stats = stats_rows.find_all('td')
            for x in stats:
                annual_stat_dict[year].append(x.text)
    player_stat_list.append(name)
    player_stat_list.append(annual_stat_dict)
    return player_stat_list

In [58]:
stats_for_df = get_stats(player_data)

NameError: name 'player_data' is not defined

In [57]:
def get_headers(player_data):
    '''
    Grab stat headers from player's BS table
    arg:
        BS object containing players info (from scrape_page)
    return:
        stat labels in a list
    '''
    table = player_data[1]
    stat_header = ['name']

    stat_table = table[0].find_all('tr')
    header_soup = stat_table[0].find_all('th')
    for header in header_soup:
        stat_header.append(header.text.strip())
    return stat_header

In [88]:
stats_for_df

['Carson Palmer',
 defaultdict(list,
             {2004: ['25',
               'CIN',
               'QB',
               '9',
               '13',
               '13',
               '6-7-0',
               '263',
               '432',
               '60.9',
               '2897',
               '18',
               '4.2',
               '18',
               '4.2',
               '140',
               '76',
               '6.7',
               '5.7',
               '11.0',
               '222.8',
               '77.3',
               '',
               '25',
               '178',
               '5.95',
               '4.96',
               '5.5',
               '2',
               '3',
               '8'],
              2005: ['26',
               'CIN',
               'QB',
               '9',
               '16',
               '16',
               '11-5-0',
               '345',
               '509',
               '67.8',
               '3836',
               '32',
               '6.3',
               '12',
               '2.4',
               '198',
               '70',
               '7.5',
               '7.7',
               '11.1',
               '239.8',
               '101.1',
               '',
               '19',
               '105',
               '7.07',
               '7.26',
               '3.6',
               '1',
               '3',
               '17'],
              2006: ['27',
               'CIN',
               'QB',
               '9',
               '16',
               '16',
               '8-8-0',
               '324',
               '520',
               '62.3',
               '4035',
               '28',
               '5.4',
               '13',
               '2.5',
               '200',
               '74',
               '7.8',
               '7.7',
               '12.5',
               '252.2',
               '93.9',
               '66.4',
               '36',
               '233',
               '6.84',
               '6.79',
               '6.5',
               '2',
               '3',
               '15'],
              2007: ['28',
               'CIN',
               'QB',
               '9',
               '16',
               '16',
               '7-9-0',
               '373',
               '575',
               '64.9',
               '4131',
               '26',
               '4.5',
               '20',
               '3.5',
               '213',
               '70',
               '7.2',
               '6.5',
               '11.1',
               '258.2',
               '86.7',
               '64.0',
               '17',
               '119',
               '6.78',
               '6.14',
               '2.9',
               '2',
               '2',
               '14'],
              2008: ['29',
               'CIN',
               '',
               '9',
               '4',
               '4',
               '0-4-0',
               '75',
               '129',
               '58.1',
               '731',
               '3',
               '2.3',
               '4',
               '3.1',
               '41',
               '36',
               '5.7',
               '4.7',
               '9.7',
               '182.8',
               '69.0',
               '52.8',
               '11',
               '67',
               '4.74',
               '3.89',
               '7.9',
               '',
               '',
               '2'],
              2009: ['30',
               'CIN',
               'QB',
               '9',
               '16',
               '16',
               '10-6-0',
               '282',
               '466',
               '60.5',
               '3094',
               '21',
               '4.5',
               '13',
               '2.8',
               '159',
               '73',
               '6.6',
               '6.3',
               '11.0',
               '193.4',
               '83.6',
               '59.5',
               '26',
               '213',
               '5.86',
               '5.52',
               '5.3',
               '3',
               '5',
               '9'],
              2010: ['31',
               'CIN',
               'QB',
               '9',
               '16',
               '16',
               '4-12-0',
               '362',
               '586',
               '61.8',
               '3970',
               '26',
               '4.4',
               '20',
               '3.4',
               '206',
               '78',
               '6.8',
               '6.1',
               '11.0',
               '248.1',
               '82.4',
               '54.6',
               '26',
               '201',
               '6.16',
               '5.54',
               '4.2',
               '1',
               '1',
               '11'],
              2011: ['32',
               'OAK',
               'QB',
               '3',
               '10',
               '9',
               '4-5-0',
               '199',
               '328',
               '60.7',
               '2753',
               '13',
               '4.0',
               '16',
               '4.9',
               '123',
               '78',
               '8.4',
               '7.0',
               '13.8',
               '275.3',
               '80.5',
               '55.7',
               '17',
               '119',
               '7.63',
               '6.30',
               '4.9',
               '0',
               '1',
               '8'],
              2012: ['33',
               'OAK',
               'QB',
               '3',
               '15',
               '15',
               '4-11-0',
               '345',
               '565',
               '61.1',
               '4018',
               '22',
               '3.9',
               '14',
               '2.5',
               '188',
               '64',
               '7.1',
               '6.8',
               '11.6',
               '267.9',
               '85.3',
               '46.6',
               '26',
               '199',
               '6.46',
               '6.14',
               '4.4',
               '2',
               '2',
               '10'],
              2013: ['34',
               'ARI',
               'QB',
               '3',
               '16',
               '16',
               '10-6-0',
               '362',
               '572',
               '63.3',
               '4274',
               '24',
               '4.2',
               '22',
               '3.8',
               '205',
               '91',
               '7.5',
               '6.6',
               '11.8',
               '267.1',
               '83.9',
               '52.6',
               '41',
               '289',
               '6.50',
               '5.67',
               '6.7',
               '3',
               '4',
               '11'],
              2014: ['35',
               'ARI',
               'qb',
               '3',
               '6',
               '6',
               '6-0-0',
               '141',
               '224',
               '62.9',
               '1626',
               '11',
               '4.9',
               '3',
               '1.3',
               '82',
               '80',
               '7.3',
               '7.6',
               '11.5',
               '271.0',
               '95.6',
               '63.7',
               '9',
               '59',
               '6.73',
               '7.09',
               '3.9',
               '2',
               '2',
               '4'],
              2015: ['36',
               'ARI',
               'QB',
               '3',
               '16',
               '16',
               '13-3-0',
               '342',
               '537',
               '63.7',
               '4671',
               '35',
               '6.5',
               '11',
               '2.0',
               '231',
               '68',
               '8.7',
               '9.1',
               '13.7',
               '291.9',
               '104.6',
               '77.1',
               '25',
               '151',
               '8.04',
               '8.41',
               '4.4',
               '1',
               '4',
               '16'],
              2016: ['37',
               'ARI',
               'QB',
               '3',
               '15',
               '15',
               '6-8-1',
               '364',
               '597',
               '61.0',
               '4233',
               '26',
               '4.4',
               '14',
               '2.3',
               '220',
               '80',
               '7.1',
               '6.9',
               '11.6',
               '282.2',
               '87.2',
               '54.5',
               '40',
               '281',
               '6.20',
               '6.03',
               '6.3',
               '1',
               '3',
               '12'],
              2017: ['38',
               'ARI',
               'QB',
               '3',
               '7',
               '7',
               '3-4-0',
               '164',
               '267',
               '61.4',
               '1978',
               '9',
               '3.4',
               '7',
               '2.6',
               '95',
               '46',
               '7.4',
               '6.9',
               '12.1',
               '282.6',
               '84.4',
               '52.5',
               '22',
               '150',
               '6.33',
               '5.86',
               '7.6',
               '2',
               '2',
               '5']})]

In [59]:
def create_player_df(stats_for_df, headers):
    agg_stat_list = []

    for key, value in stats_for_df[1].items():
        list_for_df = []
        list_for_df.append(stats_for_df[0])
        list_for_df.append(key)
        for x in value:
            list_for_df.append(x)
        agg_stat_list.append(list_for_df)
    player_df = pd.DataFrame(agg_stat_list,columns=headers)
    return player_df

,name,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,...,Rate,QBR,Sk,Yds,NY/A,ANY/A,Sk%,4QC,GWD,AV
0,Steve McNair,1995,22,HOU,,9,4,2,2-0-0,41,...,81.7,,6,63,5.88,6.06,7.0,,,2
1,Steve McNair,1996,23,HOU,,9,9,4,2-2-0,88,...,90.6,,9,45,7.58,7.18,5.9,,,5
2,Steve McNair,1997,24,TEN,QB,9,16,16,8-8-0,216,...,70.4,,31,190,5.55,4.87,7.0,1,1,15
3,Steve McNair,1998,25,TEN,QB,9,16,16,8-8-0,289,...,80.1,,33,176,5.81,5.53,6.3,1,2,15
4,Steve McNair,1999,26,TEN,QB,9,11,11,9-2-0,187,...,78.6,,16,74,6.07,5.72,4.6,1,2,10
5,Steve McNair,2000,27,TEN,QB,9,16,15,12-3-0,248,...,83.2,,24,141,6.44,5.76,5.7,3,3,13
6,Steve McNair,2001,28,TEN,QB,9,15,15,7-8-0,264,...,90.2,,37,251,6.62,6.37,7.9,1,4,13
7,Steve McNair,2002,29,TEN,QB,9,16,16,11-5-0,301,...,84.0,,21,121,6.37,5.91,4.1,3,3,15
8,Steve McNair,2003,30,TEN,QB,9,14,14,10-4-0,250,...,100.4,,19,108,7.42,7.81,4.5,1,1,14
9,Steve McNair,2004,31,TEN,QB,9,8,8,3-5-0,129,...,73.1,,13,95,5.47,4.40,5.7,1,1,3
10,Steve McNair,2005,32,TEN,QB,9,14,14,4-10-0,292,...,82.4,,20,134,6.10,5.75,4.0,0,1,10
11,Steve McNair,2006,33,BAL,QB,9,16,16,13-3-0,295,...,82.5,66.9,14,84,6.15,5.70,2.9,3,3,10
12,Steve McNair,2007,34,BAL,qb,9,6,6,2-4-0,133,...,73.9,38.1,11,85,4.76,4.11,5.1,,,1

In [80]:
master_raw_df

,name,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,...,Rate,QBR,Sk,Yds,NY/A,ANY/A,Sk%,4QC,GWD,AV
0,Jake Plummer,1997,23,ARI,QB,16,10,9,3-6-0,157,...,73.1,,52,291,5.49,4.42,14.9,2,2,7
1,Jake Plummer,1998,24,ARI,QB,16,16,16,9-7-0,324,...,75.0,,49,280,5.80,4.86,8.2,5,7,12
2,Jake Plummer,1999,25,ARI,QB,16,12,11,3-8-0,201,...,50.8,,27,152,4.80,2.60,6.6,2,2,2
3,Jake Plummer,2000,26,ARI,QB,16,14,14,3-11-0,270,...,66.0,,22,151,5.62,4.25,4.4,1,1,7
4,Jake Plummer,2001,27,ARI,QB,16,16,16,7-9-0,304,...,79.6,,29,204,6.23,5.74,5.2,3,4,12
5,Jake Plummer,2002,28,ARI,QB,16,16,16,5-11-0,284,...,65.7,,36,248,4.81,3.86,6.4,2,4,7
6,Jake Plummer,2003,29,DEN,QB,16,11,11,9-2-0,189,...,91.2,,14,73,6.67,6.63,4.4,1,1,10
7,Jake Plummer,2004,30,DEN,QB,16,16,16,10-6-0,303,...,84.5,,15,90,7.46,6.79,2.8,1,4,14
8,Jake Plummer,2005,31,DEN,QB,16,16,16,13-3-0,277,...,90.2,,22,135,6.76,6.85,4.6,1,2,15
9,Jake Plummer,2006,32,DEN,QB,16,16,11,7-4-0,175,...,68.8,47.0,18,111,5.62,4.53,5.4,2,3,6

In [124]:
def create_raw_stat_df(player_page_soups, pkl):
    master_raw_df = pd.DataFrame()
    old_headers_df = pd.DataFrame()
    error_list = []
    for player_soup in player_page_soups:
        player_data = get_player_data(player_soup)
        if not player_data[1]:
            error_list.append(player_data[0])
            pass
        else:
            headers = get_headers(player_data)
            player_stats = get_stats(player_data)
            player_df = create_player_df(player_stats, headers)
        if len(headers) > 32:
            master_raw_df = master_raw_df.append(player_df)
        else:
            old_headers_df = old_headers_df.append(player_df)
        
    if pkl:
        master_raw_df.to_pickle(path+'/Pickles/added_players_df.pkl')
        old_headers_df.to_pickle(path+'/Pickles/old_players_df.pkl')
    return master_raw_df, error_list

In [125]:
master_raw_df = create_raw_stat_df(player_page_soups, pkl=True)

In [126]:
master_raw_df[1]

[]

In [128]:
test_df = pd.read_pickle(path+'/Pickles/added_players_df.pkl')
test_df

,name,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,...,Rate,QBR,Sk,Yds,NY/A,ANY/A,Sk%,4QC,GWD,AV
0,Jake Plummer,1997,23,ARI,QB,16,10,9,3-6-0,157,...,73.1,,52,291,5.49,4.42,14.9,2,2,7
1,Jake Plummer,1998,24,ARI,QB,16,16,16,9-7-0,324,...,75.0,,49,280,5.80,4.86,8.2,5,7,12
2,Jake Plummer,1999,25,ARI,QB,16,12,11,3-8-0,201,...,50.8,,27,152,4.80,2.60,6.6,2,2,2
3,Jake Plummer,2000,26,ARI,QB,16,14,14,3-11-0,270,...,66.0,,22,151,5.62,4.25,4.4,1,1,7
4,Jake Plummer,2001,27,ARI,QB,16,16,16,7-9-0,304,...,79.6,,29,204,6.23,5.74,5.2,3,4,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Seneca Wallace,2008,28,SEA,QB,15,10,8,3-5-0,141,...,87.0,59.9,14,76,5.69,6.02,5.5,1,1,5
4,Seneca Wallace,2009,29,SEA,,15,13,2,0-2-0,78,...,81.9,45.6,9,59,4.97,4.74,7.0,,,2
5,Seneca Wallace,2010,30,CLE,,6,8,4,1-3-0,64,...,88.5,49.1,6,33,6.18,6.08,5.6,,,2
6,Seneca Wallace,2011,31,CLE,,6,6,3,0-3-0,55,...,65.4,54.4,6,30,4.75,4.31,5.3,,,2
7,Seneca Wallace,2013,33,GNB,,9,2,1,0-1-0,16,...,64.4,11.0,4,25,4.07,2.46,14.3,,,0